* {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background: #FFFFFF;
    color: #4CAF50;
}

.logo {
    width: 30%;
    height: auto;
}

.hero {
    text-align: center;
    color: black;
}  

.hero {
    padding: 50px;
    max-width: 100vw;
    background-image: url('im2.jpg');
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;

}

.hero p {
    font-size: 1.5em;
    margin: 20px 0;
}

input, textarea {
    display: block;
    width: 30%;
    margin: 10px auto;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#recipes-by-ingredients, #recipes-by-categories, #recipes-by-countries {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
  justify-items: center;
  align-items: center;
  
}

.recipe {
  padding: 10px;
  width: 100%;
  max-width: 250px;
  text-align: center;
  overflow: hidden;
}

.recipe img {
  width: 100%;
  height: auto;
  border-radius: 4px;
  object-fit: cover;
}


.recipe h2 {
  color: #333;
  font-size: 1rem;
  margin: 10px 0 0;
}